/venv
__pypache__/
src/recommenders/__pycache__/
src/data/__pycache__/
src/preprocessing/__pycache__/
dist/
experiment_output/svmlight_files/
*.joblib
*.csv
data_storage/
*.pyc
docs/
.idea
node_modules/
kubernetes_config.json
*.idea

external/metric_calculator/Test1/
external/metric_calculator/Test2/
external/metric_calculator/index-directory/