/venv
__pypache__/
dist/
*.joblib
*.csv
data_storage/
*.pyc
.idea
node_modules/
kubernetes_config.json
*.idea

external/metric_calculator/Test1/
external/metric_calculator/Test2/
external/metric_calculator/index-directory/